a:link, a:visited, a:active {
  text-decoration: none; }

.borderCarousel {
  border: 8px solid #cc32da;
  border-radius: 7px; }

.marginCarousel {
  padding: 10px; }

.carousel-inner {
  width: 100%;
  height: 10%;
  max-height: auto;
  align-items: center; }

.carousel-inner {
  height: 100%; }

.fotoCarousel {
  margin: 0 auto; }

.letrasContacto {
  color: white; }

.fondo {
  background: linear-gradient(45deg, #141414 0%, #23061a 15%, #d6aebe 100%);
  width: 100%;
  height: 100%; }
  .fondo #menu {
    background-color: #312f2f;
    font-size: 35px;
    font-weight: 500; }
    .fondo #menu #textoNav {
      color: #cfbacd;
      font-size: 30px;
      padding: 20px; }
    .fondo #menu #textoNav:hover {
      color: white;
      text-shadow: white 1px 2px 15px; }
  .fondo #parrafos {
    font-family: "Nanum Gothic";
    color: white;
    font-size: 20px; }
  .fondo #titulos {
    text-align: left;
    color: #cfbacd;
    text-shadow: 6px 4px 1px #0A0403;
    font-family: 'Nanum Gothic';
    font-size: 35px; }
  .fondo #face {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 20%; }

.footer {
  background-color: #312f2f; }

.containerError .error404 {
  text-align: center;
  font-family: "Nanum Gothic";
  color: black;
  font-size: 1.5em; }

.containerError .errorParrafo {
  text-align: center;
  font-size: 0.8em;
  font-family: "Nanum Gothic";
  margin-top: 30px;
  font-weight: 600; }

.containerError .botonErrorRegreso {
  text-align: center;
  font-family: "Nanum Gothic";
  margin-top: 50px; }
  .containerError .botonErrorRegreso a {
    color: white;
    font-size: 0.8em;
    background-color: #005aa3;
    border-radius: 5px;
    padding: 9px;
    text-decoration: none; }
  .containerError .botonErrorRegreso a:hover {
    background-color: #252399; }

@media only screen and (max-width: 576px) {
  #marginCel {
    margin-top: 20px; }
  #iconoCel {
    height: 30px;
    width: 30px; }
  #centrarItems {
    align-items: center;
    justify-content: center;
    justify-items: center; }
  .fondo #tituloPrincipal {
    font-size: 25px; }
  .fondo #menu #textoNav {
    font-size: 15px;
    padding: 5px; }
  .fondo #titulos {
    font-size: 25px; }
  .fondo #parrafos {
    font-size: 17px; } }

@media only screen and (min-width: 576px) {
  #iconoCel {
    height: 40px;
    width: 40px; }
  .fondo #tituloPrincipal {
    font-size: 35px; }
  .fondo #menu #textoNav {
    font-size: 20px;
    padding: 8px; } }

@media only screen and (min-width: 768px) {
  #iconoCel {
    height: 50px;
    width: 50px; }
  .fondo #tituloPrincipal {
    font-size: 45px; } }

@media only screen and (min-width: 992px) {
  #iconoCel {
    height: 50px;
    width: 50px; }
  .fondo #tituloPrincipal {
    font-size: 60px; } }
