a:link, a:visited, a:active {
  text-decoration: none; }

.borderCarousel {
  border: 8px solid #cc32da;
  border-radius: 7px; }

.marginCarousel {
  padding: 10px; }

.carousel-inner {
  width: 100%;
  height: 10%;
  max-height: auto;
  align-items: center; }

.carousel-inner {
  height: 100%; }

.fotoCarousel {
  margin: 0 auto; }

.letrasContacto {
  color: white; }

.fondo {
  background: linear-gradient(45deg, #141414 0%, #23061a 15%, #d6aebe 100%);
  width: 100%;
  height: 100%; }
  .fondo #menu {
    background-color: #312f2f;
    font-size: 35px;
    font-weight: 500; }
    .fondo #menu #textoNav {
      color: #b395b1;
      font-size: 30px;
      padding: 20px; }
    .fondo #menu #textoNav:hover {
      color: white;
      text-shadow: white 1px 2px 15px; }
  .fondo .parrafos {
    font-family: "Nanum Gothic"; }
  .fondo #titulos {
    text-align: left;
    color: #b395b1;
    text-shadow: 6px 4px 1px #0A0403;
    font-family: 'Nanum Gothic';
    font-size: 40px; }
  .fondo #card2 {
    width: auto;
    height: auto; }
  .fondo .footer {
    background-color: #312f2f; }

.parrafo1 {
  color: white;
  font-family: "Nanum Gothic";
  background-color: 0;
  font-size: 20px; }

.parrafo2 {
  color: white;
  font-family: "Nanum Gothic";
  background-color: 0;
  font-size: 20px; }

.parrafo3 {
  color: white;
  font-family: "Nanum Gothic";
  background-color: 0;
  font-size: 20px; }

.parrafo4 {
  color: white;
  font-family: "Nanum Gothic";
  background-color: 0;
  font-size: 20px; }

@media only screen and (max-width: 576px) {
  #marginCel {
    margin-top: 20px; }
  #iconoCel {
    height: 30px;
    width: 30px; }
  #centrarItems {
    align-items: center;
    justify-content: center;
    justify-items: center; }
  .fondo #tituloPrincipal {
    font-size: 25px; }
  .fondo #menu #textoNav {
    font-size: 15px;
    padding: 5px; } }

@media only screen and (min-width: 576px) {
  #iconoCel {
    height: 40px;
    width: 40px; }
  .fondo #tituloPrincipal {
    font-size: 35px; }
  .fondo #menu #textoNav {
    font-size: 20px;
    padding: 8px; } }

@media only screen and (min-width: 768px) {
  #iconoCel {
    height: 50px;
    width: 50px; }
  .fondo #tituloPrincipal {
    font-size: 45px; } }

@media only screen and (min-width: 992px) {
  #iconoCel {
    height: 50px;
    width: 50px; }
  .fondo #tituloPrincipal {
    font-size: 60px; } }
