
$colorGeneral:  rgb(0, 0, 0);
$colorTitulo: rgb(136, 3, 94);
$tamanioTitulos: 50px;

$fontPrincipal: 'Chilanka', cursive;
$fontTitulo: 'Crafty Girls', cursive;

$sombraTitulos: 2px 2px 0px #1a0505, 5px 4px 0px rgba(0,0,0,0.15), 13px 9px 3px rgba(59, 34, 26, 0.44);

$colorFondo:  rgb(231, 182, 190);
