a:link, a:visited, a:active {
    text-decoration:none;
}

@import "tipografia.scss";
@import "carousel.scss";


.letrasContacto{
    color: white
}

 .fondo{
    background: linear-gradient(45deg, hsla(0, 0%, 8%, 1) 0%, hsla(319, 72%, 8%, 1) 15%, hsla(336, 33%, 76%, 1) 100%);
    width: 100%;
    height: 100%;
 

    #menu{
        background-color: $colorFondo;
        font-size: 35px; 
        font-weight: 500;
        

        #textoNav{
            color: $colorGeneral;
            font-size: 30px;
            padding: 20px;
               
        }
        #textoNav:hover{
            color: white;
            text-shadow: white 1px 2px 15px;
        }

   }


 .parrafos{
     font-family: $fontPrincipal;
 }


 #titulos{
     text-align: left;
     color: $colorGeneral;
     text-shadow: $sombraTitulos;
     font-family: 'Nanum Gothic';
     font-size: $tamanioTitulos
       
 }

 #card2{
     width: auto;
     height: auto;
 }


 .footer{

    background-color: $colorFondo;
   
}
        
}

@mixin parrafos ($color, $typo, $fondo, $tamanio){

 color: $color;
 font-family: $typo;
 background-color: $fondo;
 font-size: $tamanio;

}

.parrafo1{
    @include parrafos (white, 'Nanum Gothic', 0 ,20px)
}
.parrafo2{
    @include parrafos (white, 'Nanum Gothic', 0 , 20px)
}
.parrafo3{
    @include parrafos (white, 'Nanum Gothic', 0, 20px)
}
.parrafo4{
    @include parrafos  (white, 'Nanum Gothic', 0 , 20px)
}





  @media only screen and (max-width:576px){

    #marginCel{
        margin-top: 20px;
    }
    
   #iconoCel{
      height:30px; 
      width:30px;
    }
  
    #centrarItems{
        align-items: center;
        justify-content: center;
        justify-items: center;
        
        
       }
  
   .fondo{
    #tituloPrincipal{
        font-size: 25px;
    } 
    #menu{
        #textoNav{
            font-size: 15px;
            padding: 5px;
        }
    }  
   }
       
  
  }
  
  @media only screen and (min-width:576px){
  
      #iconoCel{
          height:40px; 
          width:40px;
          
        }

        .fondo{
            #tituloPrincipal{
                font-size: 35px;
            }
            #menu{
                #textoNav{
                    font-size: 20px;
                    padding: 8px;
                }
            }     
           } 
       
       
  }

  
  @media only screen and (min-width:768px){
  
      #iconoCel{
          height:50px; 
          width:50px;
        }
  
        .fondo{
            #tituloPrincipal{
                font-size: 45px;
            }   
           }
      
   
           
    }
  
  
  @media only screen and (min-width:992px){
  
      #iconoCel{
          height:50px; 
          width:50px;
        }
     .fondo{
        #tituloPrincipal{
         font-size: 60px;
        }   
        }
  }
  